// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500&display=swap');

body {
    font-family: 'Spartan', sans-serif;
    color: #666;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 200;
    font-family: 'Spartan', sans-serif;
    color: #6c0082;
}

h1, .h1 {
    font-size: 2.7rem;
}

h2, .h2 {
    font-size: 2.4rem;
}

h3, .h3 {
    font-size: 2.1rem;
}

h4, .h4 {
    font-size: 1.8rem;
}

h5, .h5 {
    font-size: 1.5rem;
}

h6, .h6 {
    font-size: 1.2rem;
}


p {
    font-weight: 400;
}
